header > img {
    height: 300px;
    width: 300px;
}

* {
    background: url("images/backround_pizza_image.jpg");
    background-repeat: no-repeat;
    background-size: 2000px 1000px;
    text-align: center;
    border-color: black;
    border-width: 5px;
}